@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #555555;
  }
  
  html,
  body {
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
  }
  
  code {
    font-family: 'Mulish', sans-serif;
  }